
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/*Estilos del header*/

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F013;
    
}

nav{
    width: 55%;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

nav ul li::first-letter{
    font-size: 2rem;
}

header div h1{
    font-size: 3.5rem;
}

header div span{
    margin-left: 60px;
    font-size: 2.2rem;
}

/*Estilos de Servicios*/

.servicios{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 70vh;
}
.servicios h2{
    text-align: center;
    margin-top: 30px;
}

.cajaServicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 75%;
    text-align: center;
}

.cajaServicios img{
    width: 100px;
}

.cajaServicios h3{
    margin-top: 25px;
}

.cajaServicios .carta{
    background-color: #F2F013;
    width: 300px;
    height: 300px;
}

.carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    margin-left: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(168,168,168,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(168,168,168,1);
    box-shadow: 10px 10px 5px 0px rgba(168,168,168,1);
}

.cajaServicios .carta:hover{
    height: 350px;
    font-size: 1.3rem;
}




.circulo{
    width: 150px;
    height: 100px;
    border-radius: 100%;
}

.circulo{
    background-color: #2FDD92;
}

.grupales{
    background-color: #2F86A6;
}

/*Estilos del footer*/

footer{
    background-color: yellow;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilos sección beneficios*/
.beneficios{
    text-align: center;
    margin-top: 50px;
}

.cajaBeneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.cajaBeneficios .carta{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(168,168,168,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(168,168,168,1);
    box-shadow: 10px 10px 5px 0px rgba(168,168,168,1);
}

.cajaBeneficios .carta:hover{
    margin-right: 50px;
}
.plan{
    height: 60px;
    background-color: #2FDD92;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
}

.texto{
    display: flex;
    align-items: center;
    background-color: #F2F013;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    width: 500px;

}

.distinto{
    background-color: #2F86A6;
}

/*Estilos sección sumate*/
.mainSumate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.sumate{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.caja1Formulario{
    display: flex;
}

form input{
    border: none;
    border-bottom: 2px solid #2F86A6;
    margin-left: 5px;
    padding-top: 30px;
}

form .inputMail{
    width: 60%;
}

form label{
    margin-left: 15px;
    padding-top: 20px;
}

form textarea{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    border: none;
    border: #2F86A6 2px solid;
}

form{
    font-size: 1.2rem;
}

.mainEquipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.mainEquipo h2{
    margin-top: 50px;
    margin-bottom: 50px;
}

#cajaEquipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

table th, td{
    width: 180px;
    height: 50px;
}

table{
    border-spacing: 10px 5px;
    text-align: center;
}

th{
    font-size: 1.3rem;
    background-color: #2F86A6;
    text-align: center;
}

td{
    background-color: #2FDD92;
    color: aliceblue;
    font-size: 1.2rem;
}

.cajaBoton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}



#mensajeEnviado{
    display: none;
}

.cajaBoton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#enviar{
    text-align: center;
    font-size: 1.2rem;
    border-bottom: none;
    padding: 10;
    width: 80px;
    background-color: #F2F013;
    color: #2F86A6;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #2F86A6;
}

#mensajeEnviado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.claseOcultarForm{
    display: none;
}

.claseCapturandoDiv{
    margin-bottom:40px;
}

.claseParrafo{
    margin-top: 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #2FDD92;
    height: 30px;
    padding: 20px;
    border-radius: 2%;
}

#mensajeEnviado h2{
    text-align: center;
    height: 50px;
    padding-top: 10px;
    color: #2F86A6;
}

#mensajeEnviado h2::first-letter{
    font-size: 2rem;
}

